openapi: 3.1.0
info:
  title: AR Glasses Master SDK API
  description: 'Comprehensive REST-like documentation API for the AR Glasses Master SDK. Covers 27+ repositories, 500+ functions
    across 12 domains: Display, IMU, Camera, Audio, BLE, Gesture, Spatial Computing, ML/AI, GPS, Device Management, StardustXR
    3D, and Geo/Maps Intelligence.'
  version: 1.0.0
  contact:
    name: AR Glasses SDK Team
    url: https://github.com/AugmentOS
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.ar-glasses-sdk.dev/api/v1
  description: AR Glasses SDK Documentation API
- url: http://localhost:3000/api/v1
  description: Local development server
tags:
- name: display
  description: Display & Rendering APIs — text display, bitmap rendering, HUD menus, binocular stereo, curved monitors
- name: imu
  description: IMU & Head Tracking (Sensor Fusion) — AHRS, quaternion math, bias estimation, Kalman filtering
- name: camera
  description: Camera & Computer Vision — photo capture, SLAM cameras, frame processing
- name: audio
  description: Audio & Speech — TTS, microphone capture, transcription, audio sync
- name: ble
  description: BLE & Wireless Communication — Bluetooth LE, Wi-Fi P2P, WebSocket transport
- name: gesture
  description: Gesture & Input — tap detection, keyboard, gaze input, hand tracking, ring input
- name: spatial
  description: Spatial Computing (SLAM, Anchors, OpenXR) — XR sessions, reference spaces, plane detection
- name: ml
  description: ML/AI On-Device — TFLite Micro, SAM3 segmentation, Groq LLM, on-device inference
- name: gps
  description: GPS & Geolocation — location access, GPS IPC
- name: device
  description: Device Management & Connectivity — connection lifecycle, device drivers, config, plugins
- name: stardust
  description: 3D Environment (StardustXR) — spatial nodes, drawables, fields, panels, Wayland integration
- name: geo
  description: Geo/Maps Intelligence — Overpass OSM queries, Gemini Maps grounding, health data
paths:
  /api/v1/display/xg-glass-sdk/GlassesClient.display:
    get:
      operationId: display_xg_glass_sdk_GlassesClient_display
      summary: Display text on AR glasses
      description: |-
        Display text on the connected AR glasses. Abstracts vendor-specific display APIs behind a unified interface.

        Rokid: CxrApi openCustomView/updateCustomView with JSON layout, throttled at 350ms.
        Frame: Sends via BLE to frame.display.text().
        Meta: UNSUPPORTED.
        Simulator: Launches SimDisplayActivity.
      tags:
      - display
      responses:
        '200':
          description: Result<Unit> — Success or failure with GlassesError
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: text
        in: query
        description: Text content to display
        required: true
        schema:
          type: string
      - name: mode
        in: query
        description: REPLACE or APPEND
        required: false
        schema:
          type: string
      - name: force
        in: query
        description: Bypass throttling/dedup
        required: false
        schema:
          type: boolean
  /api/v1/display/xg-glass-sdk/RokidDisplayController.showText:
    get:
      operationId: display_xg_glass_sdk_RokidDisplayController_showText
      summary: Rokid-specific text display with throttling
      description: Internal display controller for Rokid glasses. Uses CxrApi openCustomView() for first display, updateCustomView()
        for updates. Tracks lastText to skip duplicate renders. 350ms minimum throttle interval.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: text
        in: query
        description: Text to display
        required: true
        schema:
          type: string
      - name: force
        in: query
        description: Bypass 350ms throttle
        required: false
        schema:
          type: boolean
  /api/v1/display/xg-glass-sdk/RokidDisplayController.close:
    get:
      operationId: display_xg_glass_sdk_RokidDisplayController_close
      summary: Close Rokid custom view
      description: Closes the custom view on Rokid glasses. Calls CxrApi.closeCustomView().
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/MentraOS/LayoutManager.showTextWall:
    get:
      operationId: display_MentraOS_LayoutManager_showTextWall
      summary: Display full-screen text wall
      description: Display full-screen text on MentraOS-compatible glasses.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: text
        in: query
        description: Text to display as full-screen wall
        required: true
        schema:
          type: string
  /api/v1/display/MentraOS/LayoutManager.showDoubleTextWall:
    get:
      operationId: display_MentraOS_LayoutManager_showDoubleTextWall
      summary: Display split-screen text
      description: Display split-screen text with top and bottom sections.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: topText
        in: query
        description: Text for top section
        required: true
        schema:
          type: string
      - name: bottomText
        in: query
        description: Text for bottom section
        required: true
        schema:
          type: string
  /api/v1/display/MentraOS/LayoutManager.showDashboardCard:
    get:
      operationId: display_MentraOS_LayoutManager_showDashboardCard
      summary: Display dashboard card
      description: Display a dashboard-style card with title and content.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: title
        in: query
        description: Card title
        required: true
        schema:
          type: string
      - name: content
        in: query
        description: Card content
        required: true
        schema:
          type: string
  /api/v1/display/MentraOS/LayoutManager.showReferenceCard:
    get:
      operationId: display_MentraOS_LayoutManager_showReferenceCard
      summary: Display reference card
      description: Display a reference card layout with title and body.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: title
        in: query
        description: Card title
        required: true
        schema:
          type: string
      - name: body
        in: query
        description: Card body
        required: true
        schema:
          type: string
  /api/v1/display/MentraOS/LayoutManager.showBitmapView:
    get:
      operationId: display_MentraOS_LayoutManager_showBitmapView
      summary: Display bitmap image
      description: Display a bitmap image on the glasses.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: data
        in: query
        description: Base64-encoded image data
        required: true
        schema:
          type: string
      - name: width
        in: query
        description: Optional width
        required: false
        schema:
          type: integer
      - name: height
        in: query
        description: Optional height
        required: false
        schema:
          type: integer
  /api/v1/display/MentraOS/LayoutManager.clear:
    get:
      operationId: display_MentraOS_LayoutManager_clear
      summary: Clear display
      description: Clear all displayed content from the glasses.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/frame-codebase/frame.display.text:
    get:
      operationId: display_frame_codebase_frame_display_text
      summary: Render text on Frame OLED
      description: Render text on the Brilliant Labs Frame's micro-OLED display at specified position with font/color options.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: text
        in: query
        description: Text to render
        required: true
        schema:
          type: string
      - name: x
        in: query
        description: X position pixels
        required: true
        schema:
          type: number
      - name: y
        in: query
        description: Y position pixels
        required: true
        schema:
          type: number
  /api/v1/display/frame-codebase/frame.display.bitmap:
    get:
      operationId: display_frame_codebase_frame_display_bitmap
      summary: Draw bitmap on Frame display
      description: Draw a bitmap image on the Frame display at specified position.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: x
        in: query
        description: X position
        required: true
        schema:
          type: number
      - name: y
        in: query
        description: Y position
        required: true
        schema:
          type: number
      - name: width
        in: query
        description: Bitmap width
        required: true
        schema:
          type: number
  /api/v1/display/frame-codebase/frame.display.show:
    get:
      operationId: display_frame_codebase_frame_display_show
      summary: Commit Frame display buffer
      description: Commit the current display buffer to the screen. Must be called after text() or bitmap() to make changes
        visible.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/frame-codebase/frame.display.assign_color:
    get:
      operationId: display_frame_codebase_frame_display_assign_color
      summary: Assign RGB color to palette index
      description: Assign an RGB color to a palette index for use in text/bitmap rendering.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: index
        in: query
        description: Palette index
        required: true
        schema:
          type: integer
      - name: r
        in: query
        description: Red 0-255
        required: true
        schema:
          type: integer
      - name: g
        in: query
        description: Green 0-255
        required: true
        schema:
          type: integer
      - name: b
        in: query
        description: Blue 0-255
        required: true
        schema:
          type: integer
  /api/v1/display/frame-codebase/frame.display.assign_color_ycbcr:
    get:
      operationId: display_frame_codebase_frame_display_assign_color_ycbcr
      summary: Assign YCbCr color to palette index
      description: Assign a YCbCr color to a palette index.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: index
        in: query
        description: Palette index
        required: true
        schema:
          type: integer
      - name: y
        in: query
        description: Y component
        required: true
        schema:
          type: integer
      - name: cb
        in: query
        description: Cb component
        required: true
        schema:
          type: integer
      - name: cr
        in: query
        description: Cr component
        required: true
        schema:
          type: integer
  /api/v1/display/frame-codebase/frame.display.set_brightness:
    get:
      operationId: display_frame_codebase_frame_display_set_brightness
      summary: Set Frame display brightness
      description: Set the display brightness level on Brilliant Labs Frame.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: level
        in: query
        description: Brightness level
        required: true
        schema:
          type: integer
  /api/v1/display/frame-codebase/frame.display.power_save:
    get:
      operationId: display_frame_codebase_frame_display_power_save
      summary: Frame display power save
      description: Enable or disable display power saving mode.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: enable
        in: query
        description: Enable power save
        required: true
        schema:
          type: boolean
  /api/v1/display/frame-codebase/frame.display.write_register:
    get:
      operationId: display_frame_codebase_frame_display_write_register
      summary: Write display register (advanced)
      description: Write directly to a display controller register (advanced/debug).
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: addr
        in: query
        description: Register address
        required: true
        schema:
          type: integer
      - name: value
        in: query
        description: Value to write
        required: true
        schema:
          type: integer
  /api/v1/display/Blade_2_Template_App/ActionMenuActivity.onCreateActionMenu:
    get:
      operationId: display_Blade_2_Template_App_ActionMenuActivity_onCreateActionMenu
      summary: Create Vuzix HUD action menu
      description: Override to inflate your menu resource for the Vuzix Blade 2 HUD. Returns true if menu was created.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/Blade_2_Template_App/ActionMenuActivity.getActionMenuGravity:
    get:
      operationId: display_Blade_2_Template_App_ActionMenuActivity_getActionMenuGravity
      summary: Set Vuzix HUD menu position
      description: Set menu position. Returns Gravity.RIGHT for side menu or Gravity.CENTER for center menu.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/Blade_2_Template_App/ActionMenuActivity.alwaysShowActionMenu:
    get:
      operationId: display_Blade_2_Template_App_ActionMenuActivity_alwaysShowActionMenu
      summary: Persistent Vuzix HUD menu
      description: Whether the action menu is always visible on the HUD. Return true for persistent menu.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/Blade_2_Template_App/Template_Widget.updateAppWidget:
    get:
      operationId: display_Blade_2_Template_App_Template_Widget_updateAppWidget
      summary: Update Vuzix HUD widget
      description: Static method to update the HUD app widget content.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/Blade_2_Template_App/Template_Widget.update:
    get:
      operationId: display_Blade_2_Template_App_Template_Widget_update
      summary: Update widget with theme mode
      description: Update widget with light/dark mode preference.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: isLightMode
        in: query
        description: Use light theme
        required: false
        schema:
          type: boolean
  /api/v1/display/everysight-sdk/Text.builder:
    get:
      operationId: display_everysight_sdk_Text_builder
      summary: Everysight Maverick text builder
      description: Fluent builder API for rendering text on Everysight Maverick glasses. Chain setText(), setResource(), setTextAlign(),
        setXY(), setForegroundColor(), addTo().
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/TAPLINKX3/DualWebViewGroup:
    get:
      operationId: display_TAPLINKX3_DualWebViewGroup
      summary: Binocular WebView renderer
      description: Core binocular rendering engine. Duplicates WebView content for stereo AR display (1280x480, 640x480 per
        eye). Uses PixelCopy for right eye mirroring. Multi-window tab management. Refresh at 16ms (~60fps) normal, 100ms
        idle.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/StreamRenderer:
    get:
      operationId: display_RayDesk_StreamRenderer
      summary: OpenGL stream renderer
      description: 'Main OpenGL renderer supporting multiple display modes: flat quad, curved cylinder, and keyhole viewport.'
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/CylinderController.zoomIn:
    get:
      operationId: display_RayDesk_CylinderController_zoomIn
      summary: Zoom in curved monitor
      description: Zoom in on the curved virtual monitor.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/CylinderController.zoomOut:
    get:
      operationId: display_RayDesk_CylinderController_zoomOut
      summary: Zoom out curved monitor
      description: Zoom out on the curved virtual monitor.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/CylinderController.resetZoom:
    get:
      operationId: display_RayDesk_CylinderController_resetZoom
      summary: Reset zoom
      description: Reset curved monitor zoom to default.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/CylinderController.setRadius:
    get:
      operationId: display_RayDesk_CylinderController_setRadius
      summary: Set cylinder radius
      description: Set the curved monitor cylinder radius.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: radius
        in: query
        description: Cylinder radius
        required: true
        schema:
          type: number
      - name: immediate
        in: query
        description: Apply immediately
        required: false
        schema:
          type: boolean
  /api/v1/display/RayDesk/CylinderController.getViewMatrix:
    get:
      operationId: display_RayDesk_CylinderController_getViewMatrix
      summary: Get view matrix
      description: Get the current view matrix as a 16-float array.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/CylinderController.getMVPMatrix:
    get:
      operationId: display_RayDesk_CylinderController_getMVPMatrix
      summary: Get MVP matrix
      description: Get model-view-projection matrix.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/CylinderController.getLeftEyeMVPMatrix:
    get:
      operationId: display_RayDesk_CylinderController_getLeftEyeMVPMatrix
      summary: Get left eye MVP
      description: Get left eye model-view-projection matrix.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/CylinderController.getRightEyeMVPMatrix:
    get:
      operationId: display_RayDesk_CylinderController_getRightEyeMVPMatrix
      summary: Get right eye MVP
      description: Get right eye model-view-projection matrix.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/CylinderMesh:
    get:
      operationId: display_RayDesk_CylinderMesh
      summary: Curved screen geometry
      description: Generates curved screen geometry for the virtual monitor.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/FlatQuadMesh:
    get:
      operationId: display_RayDesk_FlatQuadMesh
      summary: Flat screen geometry
      description: Generates flat rectangular geometry for 2D display mode.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/SkyboxRenderer:
    get:
      operationId: display_RayDesk_SkyboxRenderer
      summary: Procedural skybox
      description: Procedural skybox renderer for the virtual environment.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/RayDesk/EnvironmentRenderer:
    get:
      operationId: display_RayDesk_EnvironmentRenderer
      summary: Composite environment renderer
      description: Combines skybox, status ring, dashboard, and physical frame elements.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/rayneo-setup/DualeyeDiffrentDisplay:
    get:
      operationId: display_rayneo_setup_DualeyeDiffrentDisplay
      summary: RayNeo per-eye rendering
      description: Per-eye rendering for RayNeo X2 glasses, allowing different content on left and right eyes.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/rayneo-setup/SetCanvasOverlay:
    get:
      operationId: display_rayneo_setup_SetCanvasOverlay
      summary: RayNeo canvas overlay
      description: Setup UI canvas as overlay on AR view for HUD elements.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/MentraOS/CoreModule.displayText:
    get:
      operationId: display_MentraOS_CoreModule_displayText
      summary: WebView display text
      description: Display text via WebView bridge CoreModule on glasses.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: text
        in: query
        description: Text to display
        required: true
        schema:
          type: string
  /api/v1/display/MentraOS/CoreModule.displayEvent:
    get:
      operationId: display_MentraOS_CoreModule_displayEvent
      summary: Display event on glasses
      description: Send a display event via React Native CoreModule.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/MentraOS/CoreModule.clearDisplay:
    get:
      operationId: display_MentraOS_CoreModule_clearDisplay
      summary: Clear glasses display
      description: Clear all content from glasses display via CoreModule.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/display/frame-codebase/frame.led.set_color:
    get:
      operationId: display_frame_codebase_frame_led_set_color
      summary: Set Frame LED color
      description: Set the RGB LED color on Brilliant Labs Frame.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: r
        in: query
        description: Red 0-255
        required: true
        schema:
          type: integer
      - name: g
        in: query
        description: Green 0-255
        required: true
        schema:
          type: integer
      - name: b
        in: query
        description: Blue 0-255
        required: true
        schema:
          type: integer
  /api/v1/display/MentraOS/LedModule.rgbLedControl:
    get:
      operationId: display_MentraOS_LedModule_rgbLedControl
      summary: Control glasses RGB LED
      description: Control the RGB LED on MentraOS-compatible glasses.
      tags:
      - display
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsInitialise:
    get:
      operationId: imu_Fusion_FusionAhrsInitialise
      summary: Initialize AHRS
      description: Initialize the AHRS structure with default settings. Resets quaternion to identity and enables startup
        mode.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsSetSettings:
    get:
      operationId: imu_Fusion_FusionAhrsSetSettings
      summary: Configure AHRS settings
      description: 'Configure AHRS algorithm parameters: convention, gain, gyroscope range, rejection thresholds, recovery
        period.'
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsUpdate:
    get:
      operationId: imu_Fusion_FusionAhrsUpdate
      summary: AHRS update (full)
      description: Core AHRS update with gyroscope, accelerometer, and magnetometer. Implements revised Madgwick algorithm.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: deltaTime
        in: query
        description: Time since last update in seconds
        required: true
        schema:
          type: number
  /api/v1/imu/Fusion/FusionAhrsUpdateNoMagnetometer:
    get:
      operationId: imu_Fusion_FusionAhrsUpdateNoMagnetometer
      summary: AHRS update (no mag)
      description: AHRS update without magnetometer. Heading is zeroed during startup phase.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsUpdateExternalHeading:
    get:
      operationId: imu_Fusion_FusionAhrsUpdateExternalHeading
      summary: AHRS update (external heading)
      description: AHRS update using external heading (e.g., GPS compass) instead of magnetometer.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: heading
        in: query
        description: External heading in degrees
        required: true
        schema:
          type: number
  /api/v1/imu/Fusion/FusionAhrsGetQuaternion:
    get:
      operationId: imu_Fusion_FusionAhrsGetQuaternion
      summary: Get AHRS quaternion
      description: Returns the current orientation quaternion describing sensor orientation relative to Earth.
      tags:
      - imu
      responses:
        '200':
          description: FusionQuaternion {w, x, y, z}
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsSetQuaternion:
    get:
      operationId: imu_Fusion_FusionAhrsSetQuaternion
      summary: Set AHRS quaternion
      description: Set the orientation quaternion directly.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsGetGravity:
    get:
      operationId: imu_Fusion_FusionAhrsGetGravity
      summary: Get gravity vector
      description: Returns direction of gravity in sensor frame as a unit vector.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsGetLinearAcceleration:
    get:
      operationId: imu_Fusion_FusionAhrsGetLinearAcceleration
      summary: Get linear acceleration
      description: Returns linear acceleration (gravity removed) in sensor frame, in g units.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsGetEarthAcceleration:
    get:
      operationId: imu_Fusion_FusionAhrsGetEarthAcceleration
      summary: Get Earth-frame acceleration
      description: Returns acceleration in Earth frame with gravity removed.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsGetInternalStates:
    get:
      operationId: imu_Fusion_FusionAhrsGetInternalStates
      summary: Get AHRS internal states
      description: 'Returns internal algorithm states: accelerationError, magneticError, ignored flags, recovery triggers.'
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsGetFlags:
    get:
      operationId: imu_Fusion_FusionAhrsGetFlags
      summary: Get AHRS flags
      description: 'Returns algorithm flags: startup, angularRateRecovery, accelerationRecovery, magneticRecovery.'
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionAhrsSetHeading:
    get:
      operationId: imu_Fusion_FusionAhrsSetHeading
      summary: Set AHRS heading
      description: Sets the heading (yaw) by applying a Z-axis rotation.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: heading
        in: query
        description: Heading in degrees
        required: true
        schema:
          type: number
  /api/v1/imu/Fusion/FusionAhrsRestart:
    get:
      operationId: imu_Fusion_FusionAhrsRestart
      summary: Restart AHRS
      description: Restarts the AHRS algorithm. Resets quaternion to identity and enables startup gain ramping.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionDegreesToRadians:
    get:
      operationId: imu_Fusion_FusionDegreesToRadians
      summary: Degrees to radians
      description: Converts degrees to radians.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: degrees
        in: query
        description: Angle in degrees
        required: true
        schema:
          type: number
  /api/v1/imu/Fusion/FusionRadiansToDegrees:
    get:
      operationId: imu_Fusion_FusionRadiansToDegrees
      summary: Radians to degrees
      description: Converts radians to degrees.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: radians
        in: query
        description: Angle in radians
        required: true
        schema:
          type: number
  /api/v1/imu/Fusion/FusionArcSin:
    get:
      operationId: imu_Fusion_FusionArcSin
      summary: Clamped arc sine
      description: Clamped arc sine. Clamps input to [-1, 1] before computing asin to avoid NaN.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionFastInverseSqrt:
    get:
      operationId: imu_Fusion_FusionFastInverseSqrt
      summary: Fast inverse square root
      description: Fast inverse square root using Pizer's implementation. Returns 1/sqrt(x).
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorAdd:
    get:
      operationId: imu_Fusion_FusionVectorAdd
      summary: Vector addition
      description: Element-wise vector addition {a.x+b.x, a.y+b.y, a.z+b.z}.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorSubtract:
    get:
      operationId: imu_Fusion_FusionVectorSubtract
      summary: Vector subtraction
      description: Element-wise vector subtraction.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorScale:
    get:
      operationId: imu_Fusion_FusionVectorScale
      summary: Vector scalar multiply
      description: Scalar multiplication of vector.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorCross:
    get:
      operationId: imu_Fusion_FusionVectorCross
      summary: Vector cross product
      description: Cross product a × b.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorDot:
    get:
      operationId: imu_Fusion_FusionVectorDot
      summary: Vector dot product
      description: Dot product a · b.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorNorm:
    get:
      operationId: imu_Fusion_FusionVectorNorm
      summary: Vector magnitude
      description: Returns magnitude |v|.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorNormalise:
    get:
      operationId: imu_Fusion_FusionVectorNormalise
      summary: Normalize vector
      description: Returns unit vector v/|v|. Uses fast inverse sqrt for embedded performance.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorIsZero:
    get:
      operationId: imu_Fusion_FusionVectorIsZero
      summary: Check zero vector
      description: Returns true if all elements are zero.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorSum:
    get:
      operationId: imu_Fusion_FusionVectorSum
      summary: Vector element sum
      description: Returns sum of all vector elements.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorHadamard:
    get:
      operationId: imu_Fusion_FusionVectorHadamard
      summary: Hadamard product
      description: Element-wise vector multiplication.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionVectorNormSquared:
    get:
      operationId: imu_Fusion_FusionVectorNormSquared
      summary: Vector norm squared
      description: Returns squared magnitude for efficiency.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionQuaternionProduct:
    get:
      operationId: imu_Fusion_FusionQuaternionProduct
      summary: Quaternion product
      description: Hamilton quaternion product a * b.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionQuaternionNormalise:
    get:
      operationId: imu_Fusion_FusionQuaternionNormalise
      summary: Normalize quaternion
      description: Returns unit quaternion q/|q|.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionQuaternionNorm:
    get:
      operationId: imu_Fusion_FusionQuaternionNorm
      summary: Quaternion norm
      description: Returns quaternion magnitude.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionQuaternionAdd:
    get:
      operationId: imu_Fusion_FusionQuaternionAdd
      summary: Quaternion addition
      description: Element-wise quaternion addition.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionQuaternionScale:
    get:
      operationId: imu_Fusion_FusionQuaternionScale
      summary: Quaternion scale
      description: Scalar multiplication of quaternion.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionQuaternionToMatrix:
    get:
      operationId: imu_Fusion_FusionQuaternionToMatrix
      summary: Quaternion to matrix
      description: Converts quaternion to 3x3 rotation matrix.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionQuaternionToEuler:
    get:
      operationId: imu_Fusion_FusionQuaternionToEuler
      summary: Quaternion to Euler
      description: Converts quaternion to ZYX Euler angles in degrees (roll, pitch, yaw).
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionMatrixMultiply:
    get:
      operationId: imu_Fusion_FusionMatrixMultiply
      summary: Matrix-vector multiply
      description: Matrix-vector multiplication M * v.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionBiasInitialise:
    get:
      operationId: imu_Fusion_FusionBiasInitialise
      summary: Initialize bias estimation
      description: Initialize gyroscope bias estimation (100Hz, 3.0°/s threshold, 3.0s period).
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionBiasSetSettings:
    get:
      operationId: imu_Fusion_FusionBiasSetSettings
      summary: Configure bias settings
      description: 'Configure bias estimation: sampleRate, stationaryThreshold, stationaryPeriod.'
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionBiasUpdate:
    get:
      operationId: imu_Fusion_FusionBiasUpdate
      summary: Update bias estimation
      description: Update bias estimation and return offset-corrected gyroscope. Detects stationary periods.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionBiasGetOffset:
    get:
      operationId: imu_Fusion_FusionBiasGetOffset
      summary: Get bias offset
      description: Returns the current estimated gyroscope bias offset.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionBiasSetOffset:
    get:
      operationId: imu_Fusion_FusionBiasSetOffset
      summary: Set bias offset
      description: Manually set gyroscope bias offset.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionCompass:
    get:
      operationId: imu_Fusion_FusionCompass
      summary: Tilt-compensated compass
      description: Calculates tilt-compensated magnetic heading using accelerometer for tilt.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionModelInertial:
    get:
      operationId: imu_Fusion_FusionModelInertial
      summary: Inertial sensor calibration
      description: 'Apply inertial sensor calibration: M * s * (raw - offset).'
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionModelMagnetic:
    get:
      operationId: imu_Fusion_FusionModelMagnetic
      summary: Magnetometer calibration
      description: 'Apply magnetometer calibration: S * (raw - h).'
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/FusionRemap:
    get:
      operationId: imu_Fusion_FusionRemap
      summary: Remap sensor axes
      description: Remap sensor axes using one of 24 orthogonal permutations for non-standard mounting.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/Fusion/imufusion.Ahrs:
    get:
      operationId: imu_Fusion_imufusion_Ahrs
      summary: Python AHRS instance
      description: Create an AHRS instance (Python imufusion wrapper). Use ahrs.update(gyro, accel, mag, dt).
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/normalize_quaternion:
    get:
      operationId: imu_XRLinuxDriver_normalize_quaternion
      summary: Normalize quaternion
      description: Normalize a quaternion to unit length.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/multiply_quaternions:
    get:
      operationId: imu_XRLinuxDriver_multiply_quaternions
      summary: Multiply quaternions
      description: Hamilton product of two quaternions.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/euler_to_quaternion_xyz:
    get:
      operationId: imu_XRLinuxDriver_euler_to_quaternion_xyz
      summary: Euler to quaternion (XYZ)
      description: Convert Euler angles (XYZ order) to quaternion.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/quaternion_to_euler_zyx:
    get:
      operationId: imu_XRLinuxDriver_quaternion_to_euler_zyx
      summary: Quaternion to Euler (ZYX)
      description: Convert quaternion to Euler angles (ZYX order).
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/vector_rotate:
    get:
      operationId: imu_XRLinuxDriver_vector_rotate
      summary: Rotate vector by quaternion
      description: Rotate a 3D vector by a quaternion.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/quat_small_angle_rad:
    get:
      operationId: imu_XRLinuxDriver_quat_small_angle_rad
      summary: Small angle between quaternions
      description: Compute the small angle between two quaternions in radians.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/create_buffer:
    get:
      operationId: imu_XRLinuxDriver_create_buffer
      summary: Create ring buffer
      description: Create a ring buffer for smoothing IMU data.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: size
        in: query
        description: Buffer size
        required: true
        schema:
          type: integer
  /api/v1/imu/XRLinuxDriver/push:
    get:
      operationId: imu_XRLinuxDriver_push
      summary: Push to ring buffer
      description: Push value into ring buffer and return rolling average.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/create_imu_buffer:
    get:
      operationId: imu_XRLinuxDriver_create_imu_buffer
      summary: Create IMU buffer
      description: Create a quaternion-aware IMU ring buffer with timestamp tracking.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/push_to_imu_buffer:
    get:
      operationId: imu_XRLinuxDriver_push_to_imu_buffer
      summary: Push to IMU buffer
      description: Push quaternion sample into IMU buffer. Returns smoothed quaternion and look-ahead prediction.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/free_buffer:
    get:
      operationId: imu_XRLinuxDriver_free_buffer
      summary: Free ring buffer
      description: Free a ring buffer.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/PhoenixHeadTracker/StartConnection:
    get:
      operationId: imu_PhoenixHeadTracker_StartConnection
      summary: Connect to XREAL Air
      description: Connect to XREAL Air glasses via AirAPI_Windows.dll. Returns 1 on success.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/PhoenixHeadTracker/StopConnection:
    get:
      operationId: imu_PhoenixHeadTracker_StopConnection
      summary: Disconnect from XREAL Air
      description: Disconnect from XREAL Air glasses.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/PhoenixHeadTracker/GetEuler:
    get:
      operationId: imu_PhoenixHeadTracker_GetEuler
      summary: Get Euler angles
      description: 'Read Euler angles from glasses. Returns pointer to float[3]: [roll, pitch, yaw].'
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/PhoenixHeadTracker/KalmanFilter.Update:
    get:
      operationId: imu_PhoenixHeadTracker_KalmanFilter_Update
      summary: Kalman filter update
      description: 1D Kalman filter for smoothing IMU deltas. Returns filtered value.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: measurement
        in: query
        description: Measurement value
        required: true
        schema:
          type: number
  /api/v1/imu/headset-utils/Fusion.attitude_quaternion:
    get:
      operationId: imu_headset_utils_Fusion_attitude_quaternion
      summary: Get attitude quaternion (Rust)
      description: Get current orientation as unit quaternion from sensor fusion.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/headset-utils/Fusion.update:
    get:
      operationId: imu_headset_utils_Fusion_update
      summary: Update fusion (Rust)
      description: Process next IMU sample through the fusion algorithm.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/headset-utils/NaiveCF.new:
    get:
      operationId: imu_headset_utils_NaiveCF_new
      summary: Create complementary filter
      description: Create a naive complementary filter combining accelerometer and gyroscope.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/headset-utils/any_fusion:
    get:
      operationId: imu_headset_utils_any_fusion
      summary: Auto-detect fusion
      description: Auto-detect glasses and create a fusion instance.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/RayDesk/HeadGazeCursor.updateHeadOrientation:
    get:
      operationId: imu_RayDesk_HeadGazeCursor_updateHeadOrientation
      summary: Update head orientation
      description: Update cursor from Euler angles.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: yaw
        in: query
        description: Yaw degrees
        required: true
        schema:
          type: number
      - name: pitch
        in: query
        description: Pitch degrees
        required: true
        schema:
          type: number
  /api/v1/imu/RayDesk/HeadGazeCursor.updateFromQuaternion:
    get:
      operationId: imu_RayDesk_HeadGazeCursor_updateFromQuaternion
      summary: Update from quaternion
      description: Update cursor from raw quaternion sensor values.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/RayDesk/HeadGazeCursor.getCursorPosition:
    get:
      operationId: imu_RayDesk_HeadGazeCursor_getCursorPosition
      summary: Get cursor position
      description: Get current cursor position mapped from head orientation.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/RayDesk/HeadGazeCursor.recenter:
    get:
      operationId: imu_RayDesk_HeadGazeCursor_recenter
      summary: Recenter cursor
      description: Reset cursor to center.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/RayDesk/OneEuroFilter:
    get:
      operationId: imu_RayDesk_OneEuroFilter
      summary: 1€ noise filter
      description: 1€ noise filter for smooth head tracking. Combines low-pass filtering with speed-adaptive cutoff.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/RayDesk/Quaternion.fromSensorValues:
    get:
      operationId: imu_RayDesk_Quaternion_fromSensorValues
      summary: Quaternion from sensor
      description: Create quaternion from raw sensor float array.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/RayDesk/Quaternion.fromYawPitch:
    get:
      operationId: imu_RayDesk_Quaternion_fromYawPitch
      summary: Quaternion from yaw/pitch
      description: Create quaternion from yaw and pitch degrees.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/RayDesk/Quaternion.multiply:
    get:
      operationId: imu_RayDesk_Quaternion_multiply
      summary: Quaternion multiply (Kotlin)
      description: Multiply two quaternions.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/RayDesk/Quaternion.toYawPitch:
    get:
      operationId: imu_RayDesk_Quaternion_toYawPitch
      summary: Quaternion to yaw/pitch
      description: Extract yaw and pitch from quaternion.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/spidgets-3dof/broadcastCam:
    get:
      operationId: imu_spidgets_3dof_broadcastCam
      summary: Broadcast camera angles
      description: Send camera Euler angles [x,y,z] to all Socket.IO clients.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/spidgets-3dof/calibrate:
    get:
      operationId: imu_spidgets_3dof_calibrate
      summary: Tare/calibrate IMU
      description: Tare/zero the IMU position (recalibrate origin).
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/RegisterIMUEventCallback:
    get:
      operationId: imu_XRLinuxDriver_RegisterIMUEventCallback
      summary: Register RayNeo IMU callback
      description: Register callback for IMU events from RayNeo glasses.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/OpenIMU:
    get:
      operationId: imu_XRLinuxDriver_OpenIMU
      summary: Open RayNeo IMU
      description: Start IMU streaming from RayNeo glasses.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/CloseIMU:
    get:
      operationId: imu_XRLinuxDriver_CloseIMU
      summary: Close RayNeo IMU
      description: Stop IMU streaming from RayNeo glasses.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/GetHeadTrackerPose:
    get:
      operationId: imu_XRLinuxDriver_GetHeadTrackerPose
      summary: Get RayNeo head tracker pose
      description: 'Get 6DoF pose from RayNeo: rotation[4], position[3], timestamp.'
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/Recenter:
    get:
      operationId: imu_XRLinuxDriver_Recenter
      summary: Recenter RayNeo tracking
      description: Recenter the RayNeo tracking origin.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/register_raw_callback:
    get:
      operationId: imu_XRLinuxDriver_register_raw_callback
      summary: Register VITURE raw IMU
      description: Register raw IMU callback for VITURE glasses.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/register_pose_callback:
    get:
      operationId: imu_XRLinuxDriver_register_pose_callback
      summary: Register VITURE pose callback
      description: Register pose callback for VITURE glasses.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/open_imu:
    get:
      operationId: imu_XRLinuxDriver_open_imu
      summary: Open VITURE IMU
      description: Start VITURE IMU streaming with specified mode and frequency.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/imu/XRLinuxDriver/close_imu:
    get:
      operationId: imu_XRLinuxDriver_close_imu
      summary: Close VITURE IMU
      description: Stop VITURE IMU streaming.
      tags:
      - imu
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/camera/xg-glass-sdk/GlassesClient.capturePhoto:
    get:
      operationId: camera_xg_glass_sdk_GlassesClient_capturePhoto
      summary: Capture photo from glasses
      description: |-
        Capture a photo from the glasses camera. Returns JPEG bytes with metadata.
        Rokid: takeGlassPhoto → syncSingleFile → readBytes
        Meta: DAT SDK StreamSession → capturePhoto
        Omi: BLE write 0x05, receive chunks, EOF=0xFFFF
        Frame: BLE via frame_msg.RxPhoto
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: quality
        in: query
        description: JPEG quality 0-100
        required: false
        schema:
          type: integer
      - name: targetWidth
        in: query
        description: Target width
        required: false
        schema:
          type: integer
      - name: targetHeight
        in: query
        description: Target height
        required: false
        schema:
          type: integer
      - name: timeoutMs
        in: query
        description: Capture timeout ms
        required: false
        schema:
          type: integer
  /api/v1/camera/frame-codebase/frame.file.open:
    get:
      operationId: camera_frame_codebase_frame_file_open
      summary: Open file for camera storage
      description: Open a file for camera image storage on Frame's LittleFS filesystem.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: path
        in: query
        description: File path
        required: true
        schema:
          type: string
      - name: mode
        in: query
        description: File mode
        required: true
        schema:
          type: string
  /api/v1/camera/headset-utils/NrealLightSlamCamera.new:
    get:
      operationId: camera_headset_utils_NrealLightSlamCamera_new
      summary: Create SLAM camera
      description: Access the XREAL Light's SLAM tracking cameras.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/camera/headset-utils/NrealLightSlamCamera.get_frame:
    get:
      operationId: camera_headset_utils_NrealLightSlamCamera_get_frame
      summary: Get SLAM camera frame
      description: Get a frame from the SLAM camera with timeout.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: timeout_ms
        in: query
        description: Timeout in ms
        required: true
        schema:
          type: integer
  /api/v1/camera/rayneo-setup/ShareCameraCtrl:
    get:
      operationId: camera_rayneo_setup_ShareCameraCtrl
      summary: RayNeo camera sharing
      description: Camera sharing control for RayNeo X2 glasses.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/camera/rayneo-setup/CameraPermissionRequest:
    get:
      operationId: camera_rayneo_setup_CameraPermissionRequest
      summary: RayNeo camera permission
      description: Request camera permissions on RayNeo platform.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/camera/MentraOS/CoreModule.photoRequest:
    get:
      operationId: camera_MentraOS_CoreModule_photoRequest
      summary: Request photo capture
      description: Request photo capture via MentraOS CoreModule with size, compression, flash options.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/camera/MentraOS/CoreModule.startBufferRecording:
    get:
      operationId: camera_MentraOS_CoreModule_startBufferRecording
      summary: Start buffer recording
      description: Start buffered video recording.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/camera/MentraOS/CoreModule.stopBufferRecording:
    get:
      operationId: camera_MentraOS_CoreModule_stopBufferRecording
      summary: Stop buffer recording
      description: Stop buffered video recording.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/camera/MentraOS/CoreModule.startVideoRecording:
    get:
      operationId: camera_MentraOS_CoreModule_startVideoRecording
      summary: Start video recording
      description: Start video recording on glasses.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/camera/MentraOS/CoreModule.stopVideoRecording:
    get:
      operationId: camera_MentraOS_CoreModule_stopVideoRecording
      summary: Stop video recording
      description: Stop video recording on glasses.
      tags:
      - camera
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/xg-glass-sdk/GlassesClient.playAudio:
    get:
      operationId: audio_xg_glass_sdk_GlassesClient_playAudio
      summary: Play audio on glasses
      description: |-
        Play audio on glasses (TTS or raw bytes).
        Rokid: CxrApi sendGlobalTtsContent, raw PCM via AudioTrack
        Meta: PCM via AudioTrack (A2DP)
        Simulator: Android TextToSpeech
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: source_type
        in: query
        description: tts or raw
        required: true
        schema:
          type: string
      - name: text
        in: query
        description: TTS text
        required: false
        schema:
          type: string
      - name: speechRate
        in: query
        description: TTS rate 0.75-4.0
        required: false
        schema:
          type: number
      - name: interrupt
        in: query
        description: Interrupt playback
        required: false
        schema:
          type: boolean
  /api/v1/audio/xg-glass-sdk/GlassesClient.startMicrophone:
    get:
      operationId: audio_xg_glass_sdk_GlassesClient_startMicrophone
      summary: Start microphone capture
      description: |-
        Start microphone capture, returning a streaming audio session.
        Rokid: CxrApi openAudioRecord (PCM/OPUS)
        Meta: AudioRecord via Bluetooth HFP (8kHz mono)
        Omi: OPUS 16kHz mono via BLE
        Frame: BLE audio via frame_msg
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: preferredEncoding
        in: query
        description: PCM_S16_LE, OPUS
        required: false
        schema:
          type: string
      - name: preferredSampleRateHz
        in: query
        description: Sample rate
        required: false
        schema:
          type: integer
      - name: preferredChannelCount
        in: query
        description: Channels
        required: false
        schema:
          type: integer
  /api/v1/audio/xg-glass-sdk/MicrophoneSession.stop:
    get:
      operationId: audio_xg_glass_sdk_MicrophoneSession_stop
      summary: Stop microphone
      description: Stop the microphone capture session.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/TAPLINKX3/GroqAudioService.startRecording:
    get:
      operationId: audio_TAPLINKX3_GroqAudioService_startRecording
      summary: Start Groq audio recording
      description: Start M4A recording (44.1kHz AAC 128kbps) for Groq Whisper transcription.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/TAPLINKX3/GroqAudioService.stopRecording:
    get:
      operationId: audio_TAPLINKX3_GroqAudioService_stopRecording
      summary: Stop and transcribe
      description: Stop recording and send to Groq for transcription.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/TAPLINKX3/GroqAudioService.hasApiKey:
    get:
      operationId: audio_TAPLINKX3_GroqAudioService_hasApiKey
      summary: Check Groq API key
      description: Check if Groq API key is configured.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/TAPLINKX3/GroqAudioService.setApiKey:
    get:
      operationId: audio_TAPLINKX3_GroqAudioService_setApiKey
      summary: Set Groq API key
      description: Set Groq API key for Whisper transcription.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: key
        in: query
        description: Groq API key
        required: true
        schema:
          type: string
  /api/v1/audio/beatsync/WebSocket.PLAY:
    get:
      operationId: audio_beatsync_WebSocket_PLAY
      summary: BeatSync synchronized play
      description: Request synchronized play across all connected devices.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/WebSocket.PAUSE:
    get:
      operationId: audio_beatsync_WebSocket_PAUSE
      summary: BeatSync synchronized pause
      description: Request synchronized pause.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/WebSocket.NTP_REQUEST:
    get:
      operationId: audio_beatsync_WebSocket_NTP_REQUEST
      summary: BeatSync NTP time sync
      description: 'NTP-inspired time synchronization: client sends t0, server stamps t1/t2. EMA smoothing alpha=0.2.'
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/WebSocket.SET_GLOBAL_VOLUME:
    get:
      operationId: audio_beatsync_WebSocket_SET_GLOBAL_VOLUME
      summary: BeatSync set volume
      description: Set master volume for all devices.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/WebSocket.SEARCH_MUSIC:
    get:
      operationId: audio_beatsync_WebSocket_SEARCH_MUSIC
      summary: BeatSync search music
      description: Search external music sources.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/WebSocket.STREAM_MUSIC:
    get:
      operationId: audio_beatsync_WebSocket_STREAM_MUSIC
      summary: BeatSync stream music
      description: Start streaming music from URL.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/WebSocket.START_SPATIAL_AUDIO:
    get:
      operationId: audio_beatsync_WebSocket_START_SPATIAL_AUDIO
      summary: BeatSync start spatial
      description: Enable spatial audio mode.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/WebSocket.STOP_SPATIAL_AUDIO:
    get:
      operationId: audio_beatsync_WebSocket_STOP_SPATIAL_AUDIO
      summary: BeatSync stop spatial
      description: Disable spatial audio mode.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/WebSocket.SET_METRONOME:
    get:
      operationId: audio_beatsync_WebSocket_SET_METRONOME
      summary: BeatSync set metronome
      description: Configure metronome click (bpm, volume).
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/beatsync/HTTP.upload_presigned_url:
    get:
      operationId: audio_beatsync_HTTP_upload_presigned_url
      summary: BeatSync get upload URL
      description: POST /upload/get-presigned-url — Get R2 presigned upload URL.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/mobileapp/AudioRecorder.startRecording:
    get:
      operationId: audio_mobileapp_AudioRecorder_startRecording
      summary: Pebble ring start recording
      description: Start audio recording from Pebble smart ring.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/mobileapp/AudioRecorder.stopRecording:
    get:
      operationId: audio_mobileapp_AudioRecorder_stopRecording
      summary: Pebble ring stop recording
      description: Stop audio recording from Pebble ring.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/mobileapp/AudioPlayer.playRaw:
    get:
      operationId: audio_mobileapp_AudioPlayer_playRaw
      summary: Pebble ring play raw audio
      description: Play raw audio samples on Pebble ring.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/mobileapp/AudioPlayer.playAAC:
    get:
      operationId: audio_mobileapp_AudioPlayer_playAAC
      summary: Pebble ring play AAC
      description: Play AAC encoded audio on Pebble ring.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/MentraOS/CoreModule.setMicState:
    get:
      operationId: audio_MentraOS_CoreModule_setMicState
      summary: Set mic state
      description: Enable/disable microphone with options for PCM data, transcript, VAD bypass.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/MentraOS/CoreModule.restartTranscriber:
    get:
      operationId: audio_MentraOS_CoreModule_restartTranscriber
      summary: Restart transcriber
      description: Restart the on-device speech-to-text transcriber.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/MentraOS/CoreModule.setGlassesMediaVolume:
    get:
      operationId: audio_MentraOS_CoreModule_setGlassesMediaVolume
      summary: Set glasses volume
      description: Set media volume on glasses.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: level
        in: query
        description: Volume level
        required: true
        schema:
          type: integer
  /api/v1/audio/MentraOS/CoreModule.getGlassesMediaVolume:
    get:
      operationId: audio_MentraOS_CoreModule_getGlassesMediaVolume
      summary: Get glasses volume
      description: Get current media volume from glasses.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/audio/MentraOS/AppSession.onTranscription:
    get:
      operationId: audio_MentraOS_AppSession_onTranscription
      summary: Subscribe to transcription
      description: Subscribe to real-time speech transcription events from glasses microphone.
      tags:
      - audio
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/xg-glass-sdk/OmiGlassesClient.BLE_UUIDs:
    get:
      operationId: ble_xg_glass_sdk_OmiGlassesClient_BLE_UUIDs
      summary: Omi BLE service UUIDs
      description: 'Omi Glass BLE GATT UUIDs: AUDIO_SERVICE, AUDIO_DATA, AUDIO_CODEC, BATTERY, PHOTO_CONTROL, PHOTO_DATA,
        TIME_SYNC.'
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/frame-codebase/bluetooth_setup:
    get:
      operationId: ble_frame_codebase_bluetooth_setup
      summary: Frame BLE setup
      description: Initialize BLE stack on the nRF52840 SoC.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/frame-codebase/bluetooth_is_paired:
    get:
      operationId: ble_frame_codebase_bluetooth_is_paired
      summary: Check Frame BLE paired
      description: Check if Frame is paired with a phone.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/frame-codebase/bluetooth_unpair:
    get:
      operationId: ble_frame_codebase_bluetooth_unpair
      summary: Unpair Frame BLE
      description: Unpair the Frame from connected device.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/frame-codebase/bluetooth_is_connected:
    get:
      operationId: ble_frame_codebase_bluetooth_is_connected
      summary: Check Frame BLE connected
      description: Check if Frame BLE is currently connected.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/frame-codebase/bluetooth_send_data:
    get:
      operationId: ble_frame_codebase_bluetooth_send_data
      summary: Send data over Frame BLE
      description: Send data over BLE to the connected phone.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: length
        in: query
        description: Data length
        required: true
        schema:
          type: integer
  /api/v1/ble/xg-glass-sdk/RokidGlassesClient.BLE:
    get:
      operationId: ble_xg_glass_sdk_RokidGlassesClient_BLE
      summary: Rokid BLE + Wi-Fi P2P
      description: 'Rokid connection flow: BLE scan → initBluetooth → connectBluetooth → initWifiP2P. Service UUID: 00009100-0000-1000-8000-00805f9b34fb.'
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/mobileapp/RingCompanionDeviceManager.openPairingPicker:
    get:
      operationId: ble_mobileapp_RingCompanionDeviceManager_openPairingPicker
      summary: Pebble ring pairing picker
      description: Open BLE companion device pairing picker for Pebble ring.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/mobileapp/RingCompanionDeviceManager.unregister:
    get:
      operationId: ble_mobileapp_RingCompanionDeviceManager_unregister
      summary: Unregister ring device
      description: Unregister a paired Pebble ring satellite device.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/mobileapp/RingCompanionDeviceManager.unregisterAll:
    get:
      operationId: ble_mobileapp_RingCompanionDeviceManager_unregisterAll
      summary: Unregister all ring devices
      description: Unregister all paired Pebble ring devices.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/MentraOS/WebSocketTransport:
    get:
      operationId: ble_MentraOS_WebSocketTransport
      summary: MentraOS WebSocket transport
      description: WebSocket-based transport for MentraOS cloud communication.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/MentraOS/CoreModule.connectDefault:
    get:
      operationId: ble_MentraOS_CoreModule_connectDefault
      summary: Connect to default glasses
      description: Connect to the default/last-known glasses device.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/MentraOS/CoreModule.connectByName:
    get:
      operationId: ble_MentraOS_CoreModule_connectByName
      summary: Connect glasses by name
      description: Connect to glasses by device name.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: deviceName
        in: query
        description: Device name
        required: true
        schema:
          type: string
  /api/v1/ble/MentraOS/CoreModule.connectSimulated:
    get:
      operationId: ble_MentraOS_CoreModule_connectSimulated
      summary: Connect simulated glasses
      description: Connect to simulated glasses for development.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/MentraOS/CoreModule.disconnect:
    get:
      operationId: ble_MentraOS_CoreModule_disconnect
      summary: Disconnect glasses
      description: Disconnect from current glasses.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/MentraOS/CoreModule.forget:
    get:
      operationId: ble_MentraOS_CoreModule_forget
      summary: Forget glasses device
      description: Forget the paired glasses device.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/MentraOS/CoreModule.findCompatibleDevices:
    get:
      operationId: ble_MentraOS_CoreModule_findCompatibleDevices
      summary: Find compatible glasses
      description: Scan for compatible glasses devices.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: deviceModel
        in: query
        description: Device model filter
        required: true
        schema:
          type: string
  /api/v1/ble/MentraOS/CoreModule.requestWifiScan:
    get:
      operationId: ble_MentraOS_CoreModule_requestWifiScan
      summary: Request Wi-Fi scan
      description: Request glasses to scan for Wi-Fi networks.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/ble/MentraOS/CoreModule.sendWifiCredentials:
    get:
      operationId: ble_MentraOS_CoreModule_sendWifiCredentials
      summary: Send Wi-Fi credentials
      description: Send Wi-Fi SSID and password to glasses.
      tags:
      - ble
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: ssid
        in: query
        description: Wi-Fi SSID
        required: true
        schema:
          type: string
      - name: password
        in: query
        description: Wi-Fi password
        required: true
        schema:
          type: string
  /api/v1/gesture/XRLinuxDriver/multitap_detection:
    get:
      operationId: gesture_XRLinuxDriver_multitap_detection
      summary: Multi-tap gesture detection
      description: Detects double-tap (recenter) and triple-tap (recalibrate) from IMU acceleration spikes.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/TAPLINKX3/CustomKeyboardView.setOnKeyboardActionListener:
    get:
      operationId: gesture_TAPLINKX3_CustomKeyboardView_setOnKeyboardActionListener
      summary: Set keyboard listener
      description: Set callback listener for AR keyboard events.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/TAPLINKX3/CustomKeyboardView.updateHover:
    get:
      operationId: gesture_TAPLINKX3_CustomKeyboardView_updateHover
      summary: Update keyboard hover
      description: Update hover position from head tracking.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: x
        in: query
        description: X position
        required: true
        schema:
          type: number
      - name: y
        in: query
        description: Y position
        required: true
        schema:
          type: number
  /api/v1/gesture/TAPLINKX3/CustomKeyboardView.clearHover:
    get:
      operationId: gesture_TAPLINKX3_CustomKeyboardView_clearHover
      summary: Clear keyboard hover
      description: Clear hover highlight.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/TAPLINKX3/CustomKeyboardView.handleAnchoredTap:
    get:
      operationId: gesture_TAPLINKX3_CustomKeyboardView_handleAnchoredTap
      summary: Handle anchored tap
      description: Process tap in anchored keyboard mode.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: x
        in: query
        description: X position
        required: true
        schema:
          type: number
      - name: y
        in: query
        description: Y position
        required: true
        schema:
          type: number
  /api/v1/gesture/TAPLINKX3/CustomKeyboardView.copyStateFrom:
    get:
      operationId: gesture_TAPLINKX3_CustomKeyboardView_copyStateFrom
      summary: Copy keyboard state
      description: Sync state between left/right eye keyboards.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/rayneo-setup/SampleCubeCtrl.OnPointerEnter:
    get:
      operationId: gesture_rayneo_setup_SampleCubeCtrl_OnPointerEnter
      summary: RayNeo gaze enter
      description: Gaze-based pointer enters object on RayNeo X2.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/rayneo-setup/SampleCubeCtrl.OnPointerExit:
    get:
      operationId: gesture_rayneo_setup_SampleCubeCtrl_OnPointerExit
      summary: RayNeo gaze exit
      description: Gaze-based pointer exits object.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/rayneo-setup/SampleCubeCtrl.OnPointerClick:
    get:
      operationId: gesture_rayneo_setup_SampleCubeCtrl_OnPointerClick
      summary: RayNeo gaze click
      description: Gaze-based click/tap on object.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/rayneo-setup/TestTouchEvent:
    get:
      operationId: gesture_rayneo_setup_TestTouchEvent
      summary: RayNeo touch event
      description: Touch event handling for RayNeo ring controller.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/rayneo-setup/RingTouchCube:
    get:
      operationId: gesture_rayneo_setup_RingTouchCube
      summary: RayNeo ring touch
      description: Ring-based touch interaction with 3D objects.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/MentraOS/AppSession.onButtonPress:
    get:
      operationId: gesture_MentraOS_AppSession_onButtonPress
      summary: Subscribe to button press
      description: Subscribe to physical button press events on glasses.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/MentraOS/AppSession.onTouchEvent:
    get:
      operationId: gesture_MentraOS_AppSession_onTouchEvent
      summary: Subscribe to touch events
      description: Subscribe to touch gesture events on glasses.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
      parameters:
      - name: gesture
        in: query
        description: Gesture type
        required: true
        schema:
          type: string
  /api/v1/gesture/stardust-core/Hand:
    get:
      operationId: gesture_stardust_core_Hand
      summary: Hand tracking skeleton
      description: Full hand skeleton with 26 joints from OpenXR hand tracking. Includes Thumb, Finger structs.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/stardust-core/Finger.length:
    get:
      operationId: gesture_stardust_core_Finger_length
      summary: Get finger length
      description: Total finger length from hand tracking.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/gesture/stardust-core/Finger.direction:
    get:
      operationId: gesture_stardust_core_Finger_direction
      summary: Get finger direction
      description: Finger pointing direction vector.
      tags:
      - gesture
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/spatial/OpenXR/xrCreateInstance:
    get:
      operationId: spatial_OpenXR_xrCreateInstance
      summary: Create OpenXR instance
      description: Create an OpenXR instance. Root object for all XR operations.
      tags:
      - spatial
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/spatial/OpenXR/xrCreateSession:
    get:
      operationId: spatial_OpenXR_xrCreateSession
      summary: Create XR session
      description: Create an XR session with graphics binding.
      tags:
      - spatial
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
  /api/v1/spatial/OpenXR/xrCreateReferenceSpace:
    get:
      operationId: spatial_OpenXR_xrCreateReferenceSpace
      summary: Create reference space
      description: 'Create reference space: VIEW (head-locked), LOCAL (recenterable), STAGE (room-scale), LOCAL_FLOOR, UNBOUNDED.'
      tags:
      - spatial
      responses:
        '200':
          description: Success
          content:
[...]
